DATABASE_URL="postgres://nextjs-prisma-2021-12-20:nextjs-prisma-2021-12-20@localhost:5432/nextjs-prisma-2021-12-20"


NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="da558fe1d231248457a916fb2f12e514"

# This is not required, only an example of using NextAuth.js with GitHub as a provider
# See more documentation here: https://next-auth.js.org/providers/github
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
